.app.dark {
    --color-green: #04780f;
    --color-middle-green: rgb(175 233 180 / 43%);
    --color-light-blue-green: #a7d6ac;
    --color-light-green: #ddf4e0;
    --color-dark-green: #0b3617; /* Updated */
    --color-light-orange: #da944e;
    --color-orange: #da6d00;
    --color-white-smoke: #a49e9e;
    --color-white: #fff;
    --color-black: #000;
    --color-light-gray: #999;
    --color-dark-gray: #eee; /* Updated */
    --color-brown: #71685f;
    --color-red: #f00;
    --color-yellow: #ffb800;
    --color-perl: #414040; /* Updated */
    --light-background-color: var(--color-dark-green); /* Updated */
    --dark-background-color: var(--color-black); /* Updated */
    --main-text-color: var(--color-white); /* Updated */
    --border-color: var(--color-light-blue-green);
    --light-text-color: var(--color-light-gray);
    --dark-text-color: var(--color-green);
    --button-color: var(--color-orange);
    --light-button-color: var(--color-yellow);
    --button-text: var(--color-white);
    --number-color: var(--color-brown);
    --warning-color: var(--color-red);
}
