.main_page_wrapper {
    margin: 17px 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header {
    color: var(--color-green);
    font-weight: 700;
    font-size: 43px;
}

.wrapper {
    width: 60%;
    display: flex;
    margin-top: 33px;
    margin-bottom: 33px;
}

.left {
    color: var(--color-green);
    span {
        color: var(--color-dark-green);
    }
}

.right {
    color: var(--color-white-smoke);
    .p_wrapper {
        display: flex;
        justify-content: space-around;
        p {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            background-color: var(--color-light-orange);
            border-radius: 8px;
            text-align: center;
            height: 65px;
            width: 65px;
        }
    }
    button {
        margin-top: 5px;
        width: 140px;
    }
}

.img {
    margin-top: 40px;
    margin-bottom: 40px;
}

.text {
    color: var(--color-green);
}
