.button {
    font-family: 'Inter';
    font-style: normal;
    color: var(--button-text);
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.__green {
    background: var(--dark-text-color);
}

.__orange {
    background: var(--button-color);
}

.__red {
    background: var(--warning-color);
}

.__yellow {
    background: var(--light-button-color);
}

.__big {
    width: 300px;
    height: 90px;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    border-radius: 13px;
}

.__medium {
    width: 280px;
    height: 37px;
    font-weight: 500;
    font-size: 17px;
    line-height: 15px;
}

.__small {
    width: 135px;
    height: 40px;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
}
