.main_page_wrapper {
    margin: 17px 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    color: var(--color-green);
    font-weight: 700;
    font-size: 43px;
}

.header_text {
    margin-top: 33px;
    margin-bottom: 39px;
    color: var(--color-green);
    span {
        color: var(--color-dark-green);
    }
}

.canvas {
    width: 280px;
    height: 280px;
    border-radius: 13px;
    background: var(--color-dark-green);
    margin: 40px auto;
}
