@font-face {
    font-family: 'Inter';
    font-weight: 400;
    font-style: normal;
    src: url('./Inter-Regular.ttf') format("opentype");
}

@font-face {
    font-family: 'Inter';
    font-weight: 700;
    font-style: normal;
    src: url('./Inter-Bold.ttf') format("opentype");
}
