.forumForm {
    margin: 0 10px 60px 10px;
    padding: 1px;

    .formHeader {
        background-color: var(--color-light-blue-green);

        .formTitle {
            font-weight: 400;
            font-size: 13px;
            line-height: 18px;
            color: var(--color-white);
            padding: 13px 16px 16px 16px;
        }
    }

    .formBody {
        position: relative;
        background-color: var(--color-white-smoke);
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        padding: 10px 21px;

        .forumAddTopic {
            padding: 10px 20px 0 20px;
            width: 100%;
            border: none;
            outline: none;
            background-color: var(--color-white);
            font-weight: 400;
            font-size: 13px;
            line-height: 16px;
            color: var(--color-brown);
            resize: vertical;
        }

        .forumAdd {
            display: flex;
            justify-content: space-between;
            padding: 17px 0 7px 0;
        }
    }
}
