.messageList {
    margin: 1px 10px 60px;
    padding: 1px;
    border: 1px var(--color-light-blue-green) solid;

    .messageTitle {
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        background-color: var(--color-perl);
        box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
        position: relative;
        z-index: 20;

        .messageAuthor {
            font-weight: 700;
            line-height: 16px;
            padding: 10px 25px;
            color: var(--main-text-color);
            width: 120px;
            display: flex;
            flex-direction: column;
            flex-basis: 120px;
            word-break: break-all;
        }

        .messageDate {
            font-weight: 400;
            font-size: 13px;
            line-height: 16px;
            padding: 10px;
            color: var(--color-brown);
        }
    }

    .messageBody {
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        background-color: var(--color-white);
        position: relative;
        z-index: 10;

        .authorAvatar {
            display: flex;
            flex-direction: column;
            flex-basis: 100px;
            background-color: var(--color-white-smoke);
            margin: 16px 10px;
            width: 100px;
            height: 100px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

        .messageText {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            flex: 1;
            padding: 16px 10px;
            word-break: break-all;
        }
    }
}
